# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.*

# Configurações locais (opcional)


# Compilados Java
*.class
.env
